===== End Point
{{path}}

[cols="3,2,5,5"]
===== Path Parameters
|===
|PARAMETER|FORMAT|DESCRIPTION

{{#parameters}}
	.^|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
	.^|{{#tableCellContent}}{{#format}}{{.}}{{/format}}{{/tableCellContent}}
	.^|{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/parameters}}
|===