Response Data Fields
|===
|NAME|TYPE|SIZE|FORMAT|DESCRIPTION

{{#fields}}
	.^|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
	.^|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
	.^|{{#tableCellContent}}{{#size}}{{.}}{{/size}}{{/tableCellContent}}
	.^|{{#tableCellContent}}{{#format}}{{.}}{{/format}}{{/tableCellContent}}
	.^|{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/fields}}
|===